@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MVC_Web_App.Models

@model IndexViewModel

<h1>Инструмент на складе</h1>
<p><a asp-action="Create">Новый инстрмент</a></p>
<form method="get">
    <label>Режущий материал инструмента:  </label>
    <input name="tool_material" value="@Model.FilterViewModel.SelectedName" />

    <label>Тип инструмента: </label>
    <select name="tool_type" asp-items="Model.FilterViewModel.Tool_types"></select>

    <input type="submit" value="Фильтр" />
</form>

<table>
    <tr>
        <th>Тип инструмента
        </th>
        <th>Материал</th>
        <th>Радиус инструмента</th>
        <th>Радиус режущей кромки</th>
        <th>Производитель</th>
    </tr>
    @foreach (Tool item in Model.Tools)
    {
        <tr>
            <td>@item.Tool_type?.Name_tool_type</td>
            <td>@item.Tool_material</td>
            <td>@item.Tool_radius</td>
            <td>@item.Tool_rounding_radius</td>
            <td>@item.Tool_manufacturer</td>
            <td>
                <form asp-controller="Home" asp-action="Delete" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>
<p>
    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.Selected_Tool_type)"
       class="glyphicon glyphicon-chevron-left">
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.Selected_Tool_type)"
       class="glyphicon glyphicon-chevron-right">
            Вперед
        </a>
    }
</p>